*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
}

nav>div>h3{
    margin-left: 200px;
    
}
nav>div>ul{
    margin: auto;
    width: 70%;
}

hr{ 
    border:         none;
    border-left:    10px solid rgb(172, 172, 10);
    height:         4em;
    width:          1px;
    margin: 10px;
}

.divDeveloper{
    display: flex;
}

ul li{
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 20px;
    font-weight: bold;
}
nav div{
    align-self: center;
}



.divUl{
    width: 60%;
}

.navbar{
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: aliceblue;
    position: fixed;
    flex-direction: row;
}

.divNombre{
    width: 20%;
}

.divRedesSociales{
    width: 20%;
}

.section1{
    padding-top: 60px;
    background-color: rgba(228, 228, 18, 0.831);
    height: 600px;
    display: flex;
    flex-direction: row;
}

.sectionButtons{
    padding-top: 20px;
}

section>div>section>a{
    padding-left: 10px;
}

h1{
    font-size: 4em;
    font-weight: 700;
}

.buttonWorks{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}

.section2{
    padding-left: 100px;
    align-self: center;
    width: 50%;
    zoom: 2;
}

.fotoPerfil{
    border-radius: 50%;
    border: 8px solid white;
    height: 300px;
}

.divFotoPerfil{
    align-self: center;
    width: 50%;
    text-align: end;
    margin-right: 200px;
}

.section3{
    text-align: center;
}


.divGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 100px;
    margin: 0 200px;
}
